:root {
    --text-color: rgb(255, 0, 0);

    --r: 200;
    --g: 100;
    --b: 100;
    --bg-color: rgb(var(--r), var(--g), var(--b));

    counter-reset: headings;
}

h1 {
    counter-increment: headings;
}

h1::before {
    content: counter(headings);
}

h2 {
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
}

.dropdown {
    opacity: 0;
    visibility: hidden;
}

button:focus-within .dropdown {
    opacity: 1;
    visibility: visible;
}

/*
instead of media queries, do this
clamp(min, preferred, max) 
*/
article {
    width: clamp(200px, 50%, 600px); 
    --text-color: green; /*can be changed further down the tree*/
}

/*
Center a div with flex (single columns or rows)
*/
.row-wrapper {
    display: flex; 
    flex-direction: row;
    align-items: center; /*on the cross axis*/
    justify-content: space-between; /*on the main axis*/
}

.column-wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center; /*on the main axis*/
    align-items: center; /*on the cross axis*/
}

/*
Grid (multiple columns or rows)
*/

.grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 100px 200px;
    place-items: center;
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
}

